<%- include('../blocks/server-info-nav.ejs', {active: "settings", guild}) %>
<main style="background-color: bisque;">
    <div class="main_settings_gp">
        
    </div>
</main>
<script type="text/javascript">
    var ts = parseInt($('#guildCreate').text());
    $('#guildCreate').html(`<strong>Created:</strong>: ${moment(ts).format('MMMM Do YYYY (h:mm a)')}`);
</script>
<%- include('../blocks/footer') %>